<div class="row">
  <header class="page-header">
  <h1>Welcome to MageeWorld</h1>
  </header>
</div>
<div class="row">
  <div class="jumbotron">
    <p>
      This site is a work in progress.  It will (hopefully) grow and evolve as my development skills grow and evolve.
    </p>
    <p>
      If you are interested in why this site is up, and seemingly undone, some enlightenment might be found in <%= link_to "this article", article_path(1) %>.
    </p>
  </div>
</div>

<div class="row" id="articles">
  <% if @tag_name %>
    <div class="row">
      <span id="tag-category">Viewing all articles tagged <%= @tag_name %></span>
    </div>
  <% end %>
  <% @articles.each do |article| %>
  	<div class="row">
  		<h4>
        <%= link_to article.title,  article_path(article), class: "index_title" %><br />
        <% if !article.published_on.nil? %>
          <small>
            Published <%= time_ago_in_words(article.published_on) %> ago
          </small>
        <% end %>
        <br />
        <small>
          Comments: <%= article.comments.count %>
        </small>
      </h4>
  	</div>
  <% end %>
</div>