<div class="row">
  <h1 class="page-header">
    <%= @article.title %>
    <div id="articleinfo">
      <small>
        <% if !@article.category.nil? %>
          <div>Filed under <%= @article.category.name %></div>
        <% end %>
        <% if @article.published? %>
          <div>Published: <%= time_ago_in_words(@article.published_on)%> ago</div>
        <% end %>
        <div id="views">Views: <%= @article.reads %></div>
        <div id="tags">
        <%= @article.tags.count %>
          <%= @article.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </div>
      </small>
    </div>
  </h1>
</div>
<div class="abstract row">
    <%= @article.abstract %>
</div>
<div class="row">
  <div class="article-body">
    <%= kramdown_process(@article.body) %>
  </div>
</div>
<% if @article.published? %>
  <div class="row">
    <%= render 'comment', article: @article %>
  </div>
  <div class="row">
    <h4><%= pluralize(@article.comments.count, 'Comment') %></h4> 
    <% @article.comments.each do |msg| %>
      <% unless msg.created_at.blank? %>
        <div id="comment-<%= msg.id %>" class="comment">
            <span class="comment-time">
              Posted <%= time_ago_in_words(msg.created_at) %> ago
            </span>
            <br />
          <div class="comment-body">
            <%= msg.body %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% admins_only do %>
  <div class="row" id="admin">
    <div>
      Status: <%= @article.status.upcase %>
    </div>
    <div class="btn-group">
      <%= link_to "Edit Article", edit_admin_article_path(@article), class: "btn btn-xs btn-success" %>
      <% if !@article.published? %>
        <%= link_to "Publish Article", publish_admin_article_path(@article), class: "btn btn-xs btn-info" %>
      <% end %>
      <%= link_to "Delete Article", admin_article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article" }, class: "btn btn-xs btn-danger" %> 
    </div>
  </div>
<% end %>
