<div id="title">
  <h1><%= @picture.name %></h1>
  <p><%= @picture.image.url %></p>
</div>

<div id="thumb">
  <h3>The thumbnail URL</h3>
  <p><%= @picture.image.thumb.url %></p>
  <p><%= image_tag @picture.image.thumb %></p>
</div>

<div id="display">
  <h3>The Display URL</h3>
  <p><%= @picture.image.display.url %></p>
  <p><%= image_tag @picture.image.display %></p>
</div>
<div>
  <%= link_to "Delete Photo", @picture, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"} %>
</div>
