<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "MageeWorld", root_path, class: "navbar-brand" %>
      </div>
      <ul class= "nav navbar-nav">
        <li><a href="#">Computer</a></li>
        <li><a href="#">Geek</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Food</a></li>
        <li><a href="#">Leisure</a></li>
      </ul>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
        </ul>
      </div>
  </nav>
  <div class="container">
    <% flash.each do |key, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
